*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* back */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    padding: 10px 150px;

}
.logo a img{
    height: 55px;
}
nav ul{
    display: flex;
    gap: 50px;
    position: relative;
    bottom: 10px;
}
nav ul li{
    font-size: 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   /* position: relative;
   top: 10px; */
   padding: 10px 0;
}
.btn{
    width: 120px;
    height: 40px;
    border: 1px solid rgb(24, 201, 24);
    color: rgb(18, 199, 18) ;
    border-radius: 20px;
    background-color:transparent ;
    position: relative;
    /* bottom: 6px; */
    text-align: center;
    top: 3px;
}
/* body */
.back{
    height: 90vh;
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.89),rgba(255, 255, 255, 0.548)),url(back.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text{
    text-align: center;
    position: relative;
    top: 240px;
}
.text h2{
    font-size: 170px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text h5{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 43, 43);
}
.button{
    position: relative;
    top: 40px;
}
.btn1{
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color:rgb(57, 182, 57) ;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.btn2{
    width: 220px;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: transparent;
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
}